body {
  background: #4b145b;
  color: white;
}

.flex-container {
  width: 60em;
  height: 35em;
  background: white;
  box-shadow: 1px 2px 15px rgba(140, 140, 150, 0.2);
  border-radius: 10px;
  margin: 0 auto;
}
.faq {
  width: 28%;
}
.question-answer {
  width: 70%;
}