.all-tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.head-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
}

.tour-price{
  background: white;
  outline: rgb(0, 119, 255);
  border-radius: 5px;
  padding: 10px;
  /* color: rgb(0, 119, 255); */
  color: red;
}

.single-tour {
  width: 40rem; 
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  
}

.tour-text {
  text-align: center;
  display: inline;
  margin: 0;
  padding: 1em;
}


.tour-price {
  color: white;
  font-weight: 500;
}

.tour-img {
  width: 35rem;
  height: 20rem;
}

.link {
  cursor: pointer;
  color: rgba(0, 119, 255, 0.8);
  text-align: right;
}