.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
 
.underline {
  width: 70px;
  height: 5px;
  background:  #49a6e9;
  margin: 0 auto;
  border-radius: 5px;
}

.info-container {
  width: 45em;
  height: 32em;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 2px 15px rgba(140, 140, 150, 0.2);
  padding: 1em;
  position: relative;
}

.img {
  /* width: 150px;
  height: 150px; */
  width: 28%;
  height: 40%; 
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.img-overlap {
  width: 28%;
  height: 38%;
  position: absolute;
  top: 15px;
  right: 250px;
  border-radius: 50%;
  background: rgb(85, 169, 243);
  z-index: 1;
}

.role {
  color: rgb(85, 169, 243);
  font-weight: 300;
}

.review {
  padding: 1em 5em;
}

.buttons svg{
  width: 25px;
  height: 25px;
  margin: 0, 0.5em;
}