.wrapper {
  border: 2px solid #0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

svg{
  width: 25px;
  height: 25px;
  margin: 0, 0.5em;
}

.img {
  width: 28%;
  height: 40%; 
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.data-wrapper {
  width: 60em;
  /* height: 50em; */
  border: 1px solid rgb(0, 0, 0);
}
