.wrapper {
  display: flex;
}

.content-wrapper {
  width: 98%;
  height: auto;
  position: absolute;
}

.slide-in-left {
  translate: 50px;
  transition: all 5s ease;
}

.modal-container {
  margin: 15em auto;
}
 
.modal-btn {
 position: absolute
}  